/* 侧边导航条 go */
.fixedNav{
	position: fixed;
	left: 80px;
	bottom:50px;
	width: 65px;
}
.fixedNav ul li{
	width: 65px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eee;
	text-align: center;
}
.fixedNav ul li:hover{
	background: #CD1924;
	border-bottom: 1px solid #CD1924;
}
.fixedNav ul li:hover a{
	color: #fff;
}
.fixedNav ul .choosen{
	background: #CD1924;
	border-bottom: 1px solid #CD1924;
}
.fixedNav ul .choosen a{
	color: #fff;
}


/* 侧边导航条 end */
/* 快捷选项 go */
.shortcut{
	height: 30px;
	line-height: 30px;
	background: #F1F1F1;
}
.shortcut li{
	float: left;
	cursor: pointer;
}
.shortcut>.w>.fl li{
	margin-right: 10px;
}
.shortcut>.w>.fr i{
	margin-left: 3px;
	font-size: 16px;
}
.red{
	color: red;
}
.spacer{
	overflow: hidden;
	margin: 11px 5px 0;
	width: 1px;
	height: 10px;
	background-color: #ccc;
}
/* 快捷选项 end */
/* 头部 go */
.header{
	height: 106px;
}
.logo{
	width: 220px;
	line-height: 106px;
}
.search{
	margin-left:130px;
	padding-top: 27px;
	width: 540px;
}
.searchBar{
	height: 35px;
	width: 540px;
	border: 2px solid #B2191B;
	box-sizing: border-box;
}
.searchBar input{
	padding-left: 10px;
	width: 442px;
	height: 100%;
	outline: none;
	border: none;
}
.searchBar button{
	width: 80px;
	height: 100%;
	line-height: 100%;
	text-align: center;
	background: #B2191B;
	color: #FFFFFF;
	border: none;
}
.hotwords{
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
}
.hotwords a{
	margin-left:10px;
}
.shopCar{
	margin:27px 0 0 110px;
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #F7F7F7;
	position: relative;
}
.shopCar .icon{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-35%);
	height: 20px;
	width: 20px;
	background: url(../images/icons.png) -415px -90px;
}
/* 头部 end */
/* 导航栏 go */
.navBar{
	border-bottom: 2px solid #B2191B;
	font-size: 14px;
}
.allCategory{
	display: inline-block;
	width: 210px;
	height: 43px;
	line-height: 43px;
	background: #B2191B;
	color: #FFFFFF;
	text-align: center;
}
.navItems{
	display: inline-block;
	width: 700px;
	padding:0 10px;
	vertical-align: bottom;
}
.navItems li{
	float: left;
}
.navItems li a{
	display: block;
	padding: 0 20px 0 20px;
	line-height: 43px;
	text-align: center;
}
/* 导航栏 end */
/* 内容展示 go */
.showCase{
	height: 465px;
}
.sc_col1{
	width: 210px;
	height: 465px;
}
.navSide{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.navSide li{
	flex: 1;
	padding: 0 10px;
	background: #C81622;
	line-height: 31px;
}
.navSide li a{
	color: #FFFFFF;
	float: left;
}
.navSide li:hover,.navSide li:hover a{
	background: #F1F1F1;
	color: #C81622;
}
.navSide li i{
	float: right;
	line-height: 31px;
	font-size: 16px;
	color: #fff;
}
.sc_col2{
	padding-top: 10px;
	width: 720px;
	height: 465px;
	margin-left: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.sc_col2 img{
	height: 100%;
}
.sc_col3{
	padding-top: 10px;
	width: 250px;
	height: 465px;
	border: 1px solid #eee;
	box-sizing: border-box;
	position: relative;
}
.news{
	height: 165px;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
}
.news_title{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eee;
	padding:0 10px;
	overflow: hidden;
}
.news_title span{
	font-size: 12px;
}
.news_item li a{
	display: block;
	padding:5px 10px;
	width: 230px;
	font-size: 11px;
}
.news_item li a span{
	font-weight: bold;
}
.service{
	margin-top: -1px;
	text-align: center;
}
.service a{	
	width: 61px;
	height: 58px;
	border: 1px solid #e4e4e4;
	border-top: 0;
	float: left;
	margin-left: -1px;
	padding-top: 10px;
	text-align: center;
	position: relative;
}
.service .icon_4,.service .icon_8,.service .icon_12{
	border-right:0;
}
.service a i{
	display: block;
	position: absolute;
	top:12px;
	left:18px;
	width: 25px;
	height: 25px;
	background: url(../images/icons.png) -15px -15px;
}
.service a span{
	position: absolute;
	left:18px;
	bottom: 5px;
}
.promo{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 75px;
	background: #449FDB;
}
/* 内容展示 end */
/* 今日推荐 go */
.recommend{
	margin-top: 10px;
	height: 160px;
}
.con4{
	width: 100%;
	height: 160px;
	background: beige;
}
/* 今日推荐 end */
/* 猜你喜欢 go */
.guess{
	margin-top: 20px;
}
.guess .headline span{
	cursor: pointer;
}
.headline{
	height: 29px;
	line-height: 29px;
	padding-right: 10px;
}
.guess_goods{
	height: 225px;
	position: relative;
}
.guess_goods::after{
	position: absolute;
	left: 0;top: 0;
	content: '';
	width: 1198px;
	height: 223px;
	border: 1px solid #eee;
}
.guess_goods ul li{
	width: 200px;
	float: left;
}
.guess_goods .showimg{
	width: 140px;
	height: 150px;
	background: palevioletred;
	padding: 0 30px;
}
.guess_goods .info{
	padding: 0 30px;
	border-right: 1px solid #eee;
}
.guess_goods .bdr0{
	border-right: 0;
}
.guess_goods .info p{
	width: 140px;
	word-wrap: break-word;
	line-height: 20px;
}
.guess_goods .info .price{
	font-size: 18px;
	color: red;
	font-weight: bold;
}
/* 猜你喜欢 end */
/* 有趣区 go */
.funArea{
	margin-top: 20px;
}
.funArea_main{
	height: 405px;
}
.funArea_img{
	width: 405px;
	height: 405px;
	background: #DB7093;
}
.funArea_body{
	width: 795px;
	height: 100%;
	position: relative;
}
.funArea_body::after{
	position: absolute;
	left: 0;top: 0;
	content: '';
	width: 795px;
	height: 405px;
	border: 1px solid #eee;
	border-left: none;
}
.niceGoods{
	width: 225px;
	height: 100%;
}
.niceHeadline{
	width: 100%;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-weight: bold;
}
.niceGoods_item_top{
	width: 100%;
	height: 209px;
	border-bottom: 1px solid #eee;
	background: antiquewhite;
	position: relative;
}
.niceGoods_info{
	padding: 0 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.niceGoods_name{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.niceGoods_item_bottom{
	width: 100%;
	height: 160px;
	background: antiquewhite;
	position: relative;
}
.niceBrand{
	width: 410px;
	height: 100%;
	background: #F7F7F7;
}
.niceBrand .niceGoods_item_top .niceGoods_info{
	padding-left: 50px;
}
.niceBrand .niceGoods_item_top{
	background: #F7F7F7;
}
.niceBrand .niceGoods_item_bottom{
	background: #F7F7F7;
	width: 50%;
}
.other{
	width: 160px;
	height: 100%;
	background: lemonchiffon;
}
.other_inner{
	width: 147px;
}
.other_item{
	float: left;
	width: 73px;
	height: 57px;
	background: #fff;
	border-right: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
}
.other_item:nth-child(2n){
	border-right: 0;
	border-bottom: 1px dashed #eee;
}
/* 有趣区 end */
/* 家用电器 go */
.appliance{
	margin-top: 20px;
}
.red_headline{
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid red;
}
.category li{
	float: left;
}
.category li a{
	padding: 0 10px;
	border-right: 1px solid #eee;
}
.category li:last-child a{
	border-right:none;
}
.aplc_main{
	width: 100%;
	height: 360px;
}
.aplc_tv{
	width: 210px;
	height: 100%;
	background: #F9F9F9;
}
.aplc_tv ul{
	height: 100px;
}
.aplc_tv ul li{
	width: 50%;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	padding: 0 10px;
	border-bottom: 1px dashed #eee;
	box-sizing: border-box;
}
.aplc_tv_promo{
	height: 260px;
	position: relative;
	text-align: center;
}
.aplc_tv_promo .promo_info{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 40px;
	line-height: 22px;
}
.aplc_tv_promo .promo_info .promo_name{
	font-size: 18px;
	white-space: nowrap;
}
.aplc_tv_promo .promo_img{
	
}
.aplc_slide{
	width: 330px;
	height: 100%;
	position: relative;
}
.aplc_slide ul{
	height: 100%;
}
.aplc_slide ul li{
	width: 100%;
	height: 100%;
	background: #AED6D8;
	overflow: hidden;
	display: none;
}
.aplc_slide ul li:nth-child(1){
	display: block;
}
.aplc_slide ul li:nth-child(2){
	background: brown;
}
.aplc_slide ul li:nth-child(3){
	background: yellowgreen;
}
.aplc_slide_info{
	margin-top: 35px;
	padding: 0 25px;
	color: #67A8AE;
}
.aplc_slide_name{
	font-size: 18px;
}
.aplc_slide_pots{
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translateX(-50%);
}
.aplc_slide_pots i{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}
.aplc_slide_pots i:last-child{
	margin-right: 0;
}
.aplc_slide_pots .active{
	background: #fff;
}
.aplc_discounts{
	width: 660px;
	height: 100%;
}
.aplc_discounts_inner li{
	float: left;
	width: 220px;
	height: 360px;
}
.aplc_discounts_item{
	overflow: hidden;
	width: 219px;
	height: 179px;
	border-bottom: 1px solid #eee;
}
.aplc_discounts_info{
	margin: 20px 0 0 20px;
	line-height: 22px;
}
.aplc_discounts_name{
	font-size: 18px;
}
.aplc_discounts .festival{
	float: left;
	height: 360px;
	background: moccasin;
	width: 218px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.festival_info{
	height: 180px;
	position: relative;
	text-align: center;
	white-space: nowrap;
}
.festival_info_inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.aplc_bottom{
	width: 100%;
	height: 65px;
	line-height: 65px;
	margin-top: 20px;
	background: #F9F9F9;
}
.aplc_bottom_item{
	float: left;
	width: 98px;
	height: 100%;
	padding: 0 10px;
}
.aplc_bottom_item a{
	border-right: 1px solid #eee;
}
.aplc_bottom_item:last-child a{
	border-right: none;
}
/* 家用电器 end */
/* 手机通信 go */
.phone{
	margin-top: 20px;
}
/* 手机通信 end */
/* 电脑办公 go */
.computer{
	margin-top: 20px;
}
/* 电脑办公 end */
/* 热门疯抢 go */
.purchase{
	margin-top: 20px;
}
.purchase_main{
	width: 100%;
	height: 280px;
	border: 1px solid #eee;
}
.purchase_left{
	width: 239px;
	height: 100%;
	border-right: 1px solid #eee;
	position: relative;
}
.purchase_left_img{
	text-align: center;
	margin-top: 30px;
}
.purchase_left_info{
	position: absolute;
	left: 30px;
	bottom: 30px;
	line-height: 22px;
}
.purchase_left_name{
	white-space: nowrap;
}
.purchase .price{
	font-size: 18px;
	color: red;
}
.purchase_middle{
	width: 660px;
	height: 100%;
}
.purchase_middle ul li{
	float: left;
	width: 217px;
	border-right: 1px solid #eee;
}
.purchase_item{
	padding: 10px;
	height: 140px;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
}
.purchase_item:nth-child(2n){
	border-bottom: none;
}
.purchase_item_img{
	height: 100px;
	width: 100px;
}
.purchase_item_info{
	margin-left: 2px;
	width: 95px;
}
.purchase_right{
	width: 300px;
	height: 100%;
}
.purchase_right_item{
	height: 120px;
	padding: 10px;
}
.purchase_right_img{
	width: 100px;
	height: 100px;
}
.purchase_right_info{
	margin-left: 5px;
	width: 100px;
}
.purchase_right_info .head{
	line-height: 30px;
}
.purchase_right_info .head .headImg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #555555;
	margin-right: 5px;
}
.purchase_right_info .comment{
	width: 165px;
	height: 55px;
	border-radius: 10px;
	background: #F8F8F8;
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
}
/* 热门疯抢 end */
/* 底部 go */
.footer{
	margin-top: 40px;
	background: #F5F5F5;
}
.footer_service{
	height: 109px;
	border-bottom: 1px solid #eee;
}
.footer_service_inner{
	padding: 30px 0;
}
.footer_service_inner li{
	width: 170px;
	height: 109px;
	padding:0 35px;
	float: left;
}
.footer_service_inner .item_img{
	width: 50px;
	height: 50px;
	background: url(../images/icons.png) -252px -3px;
}
.footer_service_inner .item_info{
	line-height: 22px;
}
.footer_nav{
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.footer_nav_inner{
	
}
.footer_nav_inner dl{
	float: left;
	padding: 0 60px;
}
.footer_nav_inner dt{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.qrCode img{
	margin-bottom: 5px;
}
.footer_about{
	margin-top: 20px;
	text-align: center;
	padding-bottom: 35px;
}
.footer_about_list{
	height: 30px;
	line-height: 30px;
}
.footer_about_list ul li{
	display: inline-block;
}
/* 底部 end */